.modal {
  display: flex;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 100%;
  max-width: none;
  padding: 18px 32px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  max-height: 80vh;
  overflow-y: auto;
  transform: scale(0.95);
  transition: transform 0.3s ease;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 80px 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal_opened .modal__container {
  transform: scale(1);
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 40px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
  width: 40px;
  height: 40px;
  opacity: 0.4;
  padding: 0;
  right: 18px;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 40%;
}

.modal__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 32px 0 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 32px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  max-width: 620px;
  width: 100%;
  height: 74px;
  border-radius: 8px;
  border: 1px solid #212121;
  gap: 10px;
  border-box: box-sizing-border-box;
  padding: 16px 12px 16px;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__label {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #212121b2;
}

.modal__submit-btn {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fcf5e5;
  background-color: #212121;
  margin-right: auto;
  max-width: 156px;
  height: 52px;
  border-radius: 8px;
}

.modal__submit-btn:hover {
  cursor: pointer;
  opacity: 40%;
}

@media screen and (max-width: 627px) {
  .modal {
    width: 100%;
    gap: 24px;
    padding: 12px;
    display: flex;
    visibility: hidden;
  }

  .modal_is-opened {
    width: 100%;
  }

  .modal__container {
    gap: 24px;
    border-radius: 8px;
    padding: 12px;
    max-width: 330px;
    width: 100%;
    max-height: 800px;
  }
}

.modal__form {
  width: 305px;
}

.modal__title {
  margin-bottom: 32px;
  margin-top: 5px;
  margin-left: 0;
  width: 106px;
  height: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.modal__input {
  display: block;
  gap: 8px;
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid #21212166;
  height: 48px;
  width: 280px;
  padding: 16px 12px;
}

.modal__close-btn {
  position: absolute;
  top: auto;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
  opacity: 0.4;
  padding: 0;
}

.modal__submit-btn {
  width: 100%;
  height: 52px;
  gap: 8px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  padding-top: 18px;
  padding-right: 32px;
  padding-bottom: 18px;
  padding-left: 32px;
}
