.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  display: -webkit-box;
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  max-width: 420px;
  height: 32px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: rgba(33, 33, 33, 1);
}

.profile__description {
  display: -webkit-box;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: nowrap;
  max-width: 420px;
  color: rgba(33, 33, 33, 0.7);
}

.profile__edit-btn {
  display: flex;
  margin-top: auto;
  margin-right: auto;
  opacity: 0.7;
  background-color: transparent;
  border: none;
  gap: 8px;
  padding: 0;
  color: #212121;
  font-weight: 500;
}

.profile__edit-btn:hover {
  opacity: 100%;
  transition: opacity 0.2s ease;
}

.profile__add-btn {
  display: flex;
  margin-left: auto;
  margin-top: auto;
  background: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  gap: 8px;
  border-radius: 8px;
  padding: 18px 18px;
  width: 157px;
  height: 52px;
  border: none;
}

.profile__add-btn:hover {
  background: #424242;
  transform: scale(1.02);
  cursor: pointer;
  opacity: 0.8;
}

.profile__edit-btn:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }
  .profile__avatar {
    height: 80px;
    width: 80px;
    margin: 0 0 12px;
  }
  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }
  .profile__column {
    margin: 0 0 20px;
    display: flex;
    align-items: center;
  }
  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }
  .profile__add-btn {
    margin: 0;
    width: 100%;
    justify-content: center;
  }
  .profile__edit-btn {
    margin-left: auto;
  }
}
