.card {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__title {
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0px;
  max-width: 350px;
  margin: 0;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__delete-button {
  position: absolute ;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
  padding: 0;
  margin: 0;
  z-index: 2; /* Make sure it's above the image */
  display: block !important; /* Force display */
  opacity: 1 !important; /* Force visibility */
  background: none;
}

.card__delete-button:hover {
  opacity: 0.6;
}

.card__like-btn {
  width: 22px;
  height: 19px;
  background: url('../images/heart.svg') center/contain no-repeat;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

.card__like-btn_active {
  background-image: url("../images/like-btn-active.svg");
  opacity: 1;
}

.card__like-btn_active:hover {
  background-image: url("../images/like-btn-active.svg");
  opacity: 0.4;
}

.card__like-btn:hover {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding-top: 8px;
}
@media screen and (max-width: 627px) {
  .card__title {
    max-width: 250px;

    font-size: 16px;
  }
  .card__image {
    height: 280px;
  }
  .card__like-btn {
    width: 20px;
    height: 18px;
  }
}
